
    <h3>B.Sc. Project: Gravitational Wave Classification Using Deep Learning (Nov 2021 – Jul 2022)</h3>
    <ul>
        <li>Developed deep learning architectures combined with different pre-trained models to identify gravitational waves in signal data.</li>
        <li>Conducted the studies using Kaggle platform, and TensorFlow as the machine learning framework.</li>
        <li>Explored CUDA, cuDNN, OpenCV, and cloud computing with AWS to implement computer vision.</li>
    </ul>
    <h3>Internship at X-Ray Crystallography Laboratory, USM (Mar 2023 – Sept 2023)</h3>
    <ul>
        <li>Synthesized and analyzed 9acetylanthracene ketone-based chalcones with UV-Vis, dyesensitized solar cell (DSSC), non-linear optic (NLO), etc.</li>
        <li>Prepare TiO2 on glasses to run cyclic voltammetry after attaching the chalcone.</li>
        <li>Performed characterization using FE-SEM, UV-Vis, solar cell simulator, Z-scan, etc.</li>
    </ul>
