<section class="expertise">
    <h2>My Expertise</h2>
    <div>
        <ul>
            <li>Python</li>
            <li>C++</li>
            <li>HTML/CSS, and JavaScript</li>
            <li>Basic SQL for data science</li>
            <li>Excel, Word, and PowerPoint, and OriginLab</li>
        </ul>
        <p>Mainly for machine learning</p>
        <!--
        <p>Methodology and Data Structures</p>
        <p>Developing website</p>
        <p>For the research and development</p>
        -->
    </div>
</section>