<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles/style.css" rel="stylesheet">
    <title>Sharon MJ</title>
</head>

<body>
    <nav>
        <a class="home-name" href="/">Sharon MJ</a>
        <ul class="nav-links">
            <li><a href="/expertise">Expertise</a></li> 
            <li><a href="/project">Project</a></li> 
            <li><a href="/education">Education </a></li> 
            <li><a href="/experience">Experience</a></li> 
        </ul>
    </nav>
    <div class="mid-content">
            <div class="introduction">
                <p>Hi, I'm <span id="name">Sharon M.J</span></p>
                <span id="specialist">A Programmer and Researcher Enthusiast</span>
            </div>
            <div class="dp-cont">
                <img src="img\000913121879.jpg" alt="Profile picture" id="profile-picture">
            </div>