<%- include("header.html") %>

        <% if (locals.content) { %>
            <section class= "right <%= content %>" >
                <%- include(`navContent/${content}.html`) %>
            </section>
        <% } else{ %>
            <section class="about-me">
                <p>A Physics graduate who loves R&D, experienced in machine learning
                     specifically for image classification, and interned as a research
                      assistant at an X-ray crystallography lab.
                </p>
                <p>
                    Versatile in the data science field, and well-equipped with
                     strong basics in programming and analysis skills.
                </p>
            </section>
            <% } %>
    </div>
    <footer>
        <div>
            <h2>Contacts</h2>
            <p>+60167616375</p>
            <p>rongreenh13@gmail.com</p>
            <p>Gelugor, Penang</p>
        </div>
        <div>
            <h2>See Also</h2>
            <a href="#">GitHub</a>
            <a href="#">LinkendIn</a>
        </div>
        <div>
            <h2>CV?</h2>
            <p>Referral is provided in resume</p>
            <a href="#" id="download-button">Download CV</a>
        </div>
    </footer>
    <script src="script/ui.js"></script>
</body>
</html>