@media(max-width:780px) {
    section{
        padding: 1.5rem 1rem;
    }
    /*Navigation*/
    nav .nav-links{
        display: none;
    }
    nav .nav-links.active{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 5rem;
        right: 0;
        margin-right: 0;
        padding: 1rem;
        align-items: center;
        justify-content: space-evenly;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        width: 17rem;
        height: 21rem;
        background-color: var(--bg-navfooter);
    }
    nav i.fa-solid{
        display: block;
    }
    /*introduction*/
    #introduction{
        flex-direction: column-reverse;
    }
    #introduction .about{
        font-size: 1rem;
        line-height: 25px;
    }
    #introduction .intro-cont :is(#name, #specialist){
        text-align: center; 
    }
    #introduction .dp-cont{
        margin: 1rem;
    }

    /*expertise*/
    #expertise .boxes .box{
        padding: 8px;
        min-width: 10rem;
    }
    #expertise .boxes .box .content p{
        font-size: 14px;
    }
    #expertise .boxes .box .content h3{
        font-size: 17px
    }
    #expertise .boxes .box i{
        margin: 0;
        height: 45px;
        width: 45px;
        line-height: 45px;
    }
    /*background*/
    #background .content :is(.row.a, .row.b, .row.c){
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr;
        padding: 0;
    }
    #background .content .row .column.b{
        order: 1;
        grid-row: 1/span 2;
        padding: 10px 0;
    }
    #background .content .row .column.a{
        padding-left: 1rem;
        text-align: left;
        line-height: 18px;
        order: 2;
    }
    #background .content .row .column.c{
        padding-left: 1rem;
        line-height: 18px;
        order: 3;
    }
    #background .content .row .column h3{
        font-weight: 500;
        font-size: 1rem;
        padding: 0.5rem 0;
    }
    #background .content .row .column p{
        font-weight: 400;
        font-size: 0.8rem;
        padding-bottom: 0.5rem;
    }
    #background .content .row .column.b img{
        border-width: 2px;
        top: 25%;
        height: 5rem;
        width: 5rem;
    }
    #background .content .row .column.b p:first-child{
        font-size: 1rem;
        padding-bottom: 1rem;
        padding-left: 0;
        text-align: end;
    }
    #background .content .row .column.b p:last-child{
        font-size: 1rem;
        padding-top: 1rem;
        padding-right: 0;
    }
    #background .content .row.c .column.b p{
        visibility: hidden;
        position: relative;
    }
    #background .content .row.c .column.b p:last-child::after{
        visibility: visible;
        position: absolute;
        top: 1rem;
        right: 0;
        content: "Present & Future";
    }
    #background .content :is(.row.a, .row.b) .column.b::before{
        width: 2px;
        height: 100%;
        top: 41%;
    }
    /*footer*/
    .footer-top{
        width: 90%;
    }
    .footer-top div a{
        font-size: 0.8rem;
    }
    .footer-top div :is(h3, a){
        text-shadow: none;
    }
    .footer-top div h3:hover {
        border-radius: 4px;
        background:var(--hover-navfooter);
        cursor: pointer;
    }
    .footer-top div:first-child{
        display: block;
    }
    .footer-top div:last-of-type{
        display: none;
    }
    .footer-top div:first-child.active{
        display: none;
    }
    .footer-top div:last-of-type.active{
        display: block;
    }
}