@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/*Overall style*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box; /*include the padding and border in element total width/height*/
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;
    z-index: 0;
    color: #0E2431;
    scroll-behavior: smooth;
}

:root{
    --buttoncolor: #37057d;
    --navcolor: #9400FF;
    --textcolor: #E4F1FF;
    --bgcolor: #AED2FF;
    --bgcolor2: #c4deff;
    --brcolor: #9500ff;;
    --hovercolor: #7a06cd;
}

body{
    background-color: var(--bgcolor);
    min-height: 100vh;
}
::-webkit-scrollbar{
    width: 14px;
}
::-webkit-scrollbar-track{
    background-color: var(--bgcolor);
}
::-webkit-scrollbar-thumb{
    background-color: var(--navcolor);
    border-radius: 4px;
    transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--hovercolor);
}
section{
    padding: 2rem 4rem;
    width: -webkit-fill-available;
}

section h2{
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
    margin-bottom: 2rem;
}
section h2::before{
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #4070f4;
  left: 0;
  bottom: 0;
}

/*Navigation------------------------------------------------------------------------*/
nav{
    background-color: var(--navcolor);
    position:fixed;
    height: 5rem;
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content:space-between;
    z-index: 10;
}

nav .nav-links{
    display: inline-flex;
    margin-right: 5%;
}
nav .nav-links li{
    padding: 0.8rem 1rem;
    margin-right: 3%;
    list-style: none;
}
nav .nav-links a{
    color: var(--textcolor);
    font-size: 1.2rem;
    font-weight: 400;
    width: 100%;
    height: 100%; 
}
nav .home-name{
    color: var(--textcolor);
    display: inline-flex;
    margin-right: 10%;
    margin-left: 4%;
    padding: 0.3rem 1.6rem;
    font-size: 1.8rem;
    font-weight: 600;
}

nav .nav-links li:hover,
nav .home-name:hover{
    background-color:var(--hovercolor);
    border-radius: 10%;
}
nav i.fa-xmark{
    color: var(--textcolor);
    font-size: 1.5rem;
    padding: 1rem;
    margin-right: 0.5rem;
    display: none;
}
nav i.fa-bars{
    display: none;
    color: var(--textcolor);
    font-size: 1.5rem;
    padding: 1rem;
    margin-right: 0.5rem;
    animation-duration: 3s;
}
/*Introduction----------------------------------------------------*/
#introduction{
    padding-top: 6rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items:center;
    align-items: center;
}

#introduction .intro-cont{
    display: flex;
    flex-direction: column;
    margin: auto;
}

#introduction .intro-cont #name{
    font-size: 2rem;
    font-weight: 500;
    padding-top: 1rem;
    padding-bottom: 2rem;
    justify-content:left;

}
#specialist{
    font-size: 1.8rem;
    font-weight: 500;
    padding-bottom: 1rem;
    max-width: 650px;
}
#introduction .about{
    font-size: 1.2rem;
    font-weight: 400;
    text-align: justify;
    line-height: 27px;
    word-wrap: break-word;
    max-width: 650px;
}
#introduction .dp-cont{
    padding: 1rem 0.4rem;
    background-color: var(--brcolor);
    display: flex;
    justify-content: center;
    border-radius: 10%;
    margin: 0 6rem;
    width: fit-content;
    max-height: calc(300px + 1rem);
}

#profile-picture{
    border-radius: 5%;
    max-height: 300px;
}
/*Expertise----------------------------------------------------------------*/
#expertise{
    background-color: var(--bgcolor2);
}
#expertise .boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
#expertise .boxes .box{
    margin: 1.5rem 0.5rem;
    height: auto;
    width: calc(100% / 3 - 2rem);
    min-width: 14rem;
    text-align: center;
    border-radius: 12px;
    padding: 30px 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    cursor: default;
}
#expertise .boxes .box i{
    height: 50px;
    width: 50px;
    background: var(--navcolor);
    border-radius: 50%;
    line-height: 50px;
    color: #fff;
    margin: 0 auto 10px auto;
}

#expertise .boxes .box .content h3{
    font-weight: 500;
    padding: 0.7rem;
}
#expertise .boxes .box .content p{
    color: #464c52;
}
#expertise .boxes .box:hover{
    background-color: var(--bgcolor);
}
