/*Project---------------------------------------------------------------*/
#project .main-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
#project .main-content .card{
    background-color: #b2d3ff;
    border: 1px solid #7d93aa;
    border-radius: 6px;
    margin: 24px 12px;
    width: 280px;
    position: relative;
    min-height: 420px;
}
#project .main-content .card .card-bg{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 280px;
    height: 280px;
}
#project .main-content .card h3{
    text-align: center;
    font-weight: 600;
    padding-top: 10px;
    font-size: 16px;
    max-width: 275px;
}

#project .main-content .card.c h3.active{
    display: none;
}
#project .main-content .card p{
    text-align: center;
    color: #464c52;
    padding: 10px 10px;
    font-size: 14px;
    max-width: 275px;
}
#project .main-content .card span{
    text-decoration: wavy;
    color: #074c91;
    padding-bottom: 6px;
    padding-left: 15px;
    font-size: 13px;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    text-align: right;
}
#project .main-content .card p.show-more{
    display: none;
}
#project .main-content .card p.active{
    display: none;
}
#project .main-content .card p.show-more.active{
    display: block;
}
#project .main-content .card .card-bg.active{
    display: none;
}
#project .main-content .card.c .card-bg{
    display: block;
    background-image: url('../img/sketchup.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#project .main-content .card.c .card-bg.active{
    display: block;
    background-image: url('../img/crib.png');
    background-repeat: no-repeat;
    background-size: cover;
}
/*background---------------------------------------------------------------*/
#background{
    background-color: var(--bgcolor2);
}
#background .content{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
#background .content .row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}
#background .content .row.line{
    justify-items: center;
}
#background .content .row .column.b{
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    grid-template-rows: 2rem 1fr 2rem;
    justify-items: center;
    align-items: center;
    width: 80%;
    position: relative;
}
#background .content .row.a{
    grid-row: 1/2;
    padding: 2rem;
}
#background .content .row.b{
    grid-row: 2/3;
    padding: 2rem;
}
#background .content .row.c{
    grid-row: 3/4;
    padding: 2rem;
}
#background .content .row .column.a{
    text-align: right;
    line-height: 23px;
}
#background .content .row .column.c{
    text-align: left;
    line-height: 23px;
}
#background .content .row .column h3{
    font-weight: 500;
    font-size: 1.3rem;
    padding-bottom: 0.4rem;
}
#background .content .row .column p{
    font-weight: 400;
    font-size: 1rem;
}
#background .content .row .column.b p:first-child{
    grid-area: 1/1/2/2;
    padding-left: 4rem;
    font-weight: 600;
    font-size: 1.3rem;
}
#background .content .row .column.b p:last-child{
    grid-area: 3/3/4/4;
    padding-right: 4rem;
    font-weight: 600;
    font-size: 1.3rem;
}


#background .content .row .column.b img{
    border-radius: 50%;
    border: 4px solid var(--buttoncolor);
    grid-area: 1/2/4/3;
    min-height: auto;
    max-width: 50%;
    min-width: 6rem;
    
}
#background .content .row.a .column.b::before,
#background .content .row.b .column.b::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 130%;
    background-color: var(--buttoncolor);
    left: 50%;
    top: 50%;
}
/*footer------------------------------------------------------------------*/

footer{
    position: relative;
    background-color: var(--navcolor);
    z-index: 10;
    width: 100%;
    bottom: 0;
}
.footer-top{
    display: inline-flex;
    position: relative;
    width: 100%;
    justify-content: center;
}
.footer-top .void{
    content: '';
    padding: 0 5rem;
}
.footer-top .content{
    display: inline-flex;
    align-items:flex-start;
    justify-content: space-between;
    border-bottom: var(--textcolor) 2px solid;
    width: 65%;
}
.footer-top .content div *,
.footer-top .content div a{
    display: block;
    color: var(--textcolor);
    margin-top: 0.7rem;
}
#download-button {
    background:var(--buttoncolor);
    color:var(--textcolor);
    padding: 0.7rem 1.3rem;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 2rem;
    transition: background 0.3s ease;
    display: inline-block;
    margin-bottom: 0.8rem;
}
#download-button:hover {
    background:var(--hovercolor);
}
.footer-bottom{
    text-align:center;
    color: var(--textcolor);
    padding: 0.5rem;
}
@media(max-width:800px) {
    section{
        padding: 2rem 2rem;
    }
    /*Navigation*/
    nav .nav-links{
        display: none;
    }
    nav .nav-links.active{
        display: flex;
        flex-direction: column;
        background-color: var(--navcolor);
        position: fixed;
        top: 5rem;
        right: 0;
        margin-right: 0;
        padding: 1rem;
        align-items: center;
        justify-content: space-evenly;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        width: 15rem;
        height: 17rem;
    }
    nav i.fa-solid{
        display: block;
    }
    /*introduction*/
    #introduction{
        flex-direction: column-reverse;
    }
    #introduction .intro-cont #name,
    #introduction .intro-cont #specialist{
        text-align: center; 
    }
    #introduction .dp-cont{
        margin: 1rem;
    }
    /*background*/
    #background .content .row.a,
    #background .content .row.b,
    #background .content .row.c{
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr;
        padding: 0;
    }
    #background .content .row .column.b{
        display: block;
        position: relative;
        order: 1;
        grid-row: 1/span 2;
        padding: 0;
    }
    #background .content .row .column.a{
        padding-left: 1rem;
        text-align: left;
        line-height: 18px;
        order: 2;
    }
    #background .content .row .column.c{
        padding-left: 1rem;
        line-height: 18px;
        order: 3;
    }
    #background .content .row .column h3{
        font-weight: 500;
        font-size: 1rem;
        padding: 0.5rem 0;
    }
    #background .content .row .column p{
        font-weight: 400;
        font-size: 0.8rem;
        padding-bottom: 0.5rem;
    }
    #background .content .row .column.b img{
        border: 2px solid var(--buttoncolor);
        position: absolute;
        top: 25%;
    }
    #background .content .row .column.b p:first-child{
        position: absolute;
        font-size: 1rem;
        top: 0;
        right: 0;
        padding-top: 1.5rem;
    }
    #background .content .row .column.b p:last-child{
        position: absolute;
        font-size: 1rem;
        bottom: 0;
        right: 0;
        padding-bottom: 1.5rem;
        padding-right: 0;
    }
    #background .content .row.a .column.b::before,
    #background .content .row.b .column.b::before{
        width: 2px;
        height: 100%;
        left: 0;
        top: 41%;
    }
    .footer-top .void{
        display: none;
    }
    .footer-top .content{
        width: 90%;
    }
    .footer-top .content div p,
    .footer-top .content div a{
        font-size: 0.8rem;
    }
    .footer-top .content div.mid{
        padding: 0 1rem;
    }
}